﻿@model MyProject.Models.Timesheet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Timesheet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Projectname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projectname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datenow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datenow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>