@model MyProject.Models.EmployeeDetails

@{
    ViewBag.Title = "Employee Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .dashboard-container {
            width: 100%;
            max-width: 800px;
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            text-align: center;
        }

        h2 {
            color: #3498db;
        }

        p {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .action-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }

        .action-button {
            background-color: #3498db;
            color: #fff;
            padding: 15px 25px;
            font-size: 18px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
        }

            .action-button:hover {
                background-color: #2980b9;
            }
    </style>
</head>
<body>
    <div class="dashboard-container">
        <h2>Welcome, @Model.Employeename</h2>
        <p>
            <ul>
                <li>Employee ID: @Model.EmpID</li>
                <li>Employee Grade:@Model.Grade</li>
                <li>Designation:@Model.Designation</li>
            </ul>
        </p>
        <p>Streamline your workday with our Employee Dashboard.</p>


        <div class="action-buttons">
            <a href="@Url.Action("AddAttendance", "Timesheets")" class="action-button">My Timesheet</a>
            <a href="@Url.Action("ApplyLeave", "Leave")" class="action-button">Apply for Leave</a>
            <a href="@Url.Action("PendingLeaveApproval", "Leave")" class="action-button">Pending Leave Approval</a>
            <a href="@Url.Action("LeaveSummary", "Leave")" class="action-button">Leave Summary</a>
            <a href="@Url.Action("Index", "Project")" class="action-button">Logout</a>
        </div>
    </div>
</body>
</html>
