@model MyProject.Models.ManagerLogin

@{
    ViewBag.Title = "ManagerDashboard";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
            color: #333;
        }

        h2 {
            color: #3498db;
        }

        h3 {
            color: #333;
        }

        .dashboard-container {
            max-width: 1200px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        .action-buttons {
            display: flex;
            justify-content: space-around;
            margin-top: 15px;
        }

        .action-button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .action-button:hover {
                background-color: #2980b9;
            }
    </style>
</head>
<body>
    <h2>Welcome </h2>

    <div class="dashboard-container">


        <div class="action-buttons">
            <a href="@Url.Action("SignUpEmployee", "Project")" class="login-button">
            Employee Signup
            </a>

            <a href="@Url.Action("Timesheet", "Project")" class="action-button">
                My Timesheet
            </a>

            <a href="@Url.Action("TeamTimesheet", "Project")" class="action-button">
                My Team Timesheet
            </a>

            <a href="@Url.Action("Leave", "Project")" class="action-button">
                My Leaves
            </a>

            <a href="@Url.Action("TeamLeave", "Project")" class="action-button">
                My Team Leaves
            </a>

            <a href="@Url.Action("EmployeeIndex", "Project")" class="action-button">
                Employee Details
            </a>

            <a href="@Url.Action("ProjectIndex", "Project")" class="action-button">
                Project Details
            </a>
        </div>
    </div>
</body>
</html>