@model MyProject.Models.EmployeeDetails

@{
    ViewBag.Title = "EmployeeCreate";
}

<style>
    body {
        background-color: #040D12;
        color: #93B1A6;
        padding: 20px;
    }

    h2 {
        color: #5C8374;
        font-size: 2em;
        text-align: center; /* Center the heading */
    }

    .form-horizontal {
        background-color: #040D12;
        color: #93B1A6;
        padding: 20px;
        border: 1px solid #183D3D;
        border-radius: 5px;
        margin-top: 20px;
    }

    .control-label {
        color: #93B1A6;
        font-size: 1.2em;
    }

    .form-control {
        background-color: #040D12;
        color: #93B1A6;
        border: 1px solid #183D3D;
        font-size: 1.2em;
    }

    .btn-default {
        background-color: #183D3D;
        color: #93B1A6;
        border: 1px solid #5C8374;
        font-size: 1.2em;
    }

        .btn-default:hover {
            background-color: #5C8374;
            color: #040D12;
        }

    .text-danger {
        color: #FF6363;
        font-size: 1.2em;
    }

    .back-to-list {
        margin-top: 20px;
        color: #5C8374;
        font-size: 1.2em;
    }

        .back-to-list:hover {
            color: #93B1A6;
        }
</style>

<h2>EmployeeCreate</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>EmployeeDetails</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.EmpID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmpID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Employeename, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Employeename, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Employeename, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, " ", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "EmployeeIndex", null, new { @class = "back-to-list" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
