@model MyProject.Models.EmployeeDetails

@{
    ViewBag.Title = "EmployeeDisplay";
}

<style>
    body {
        background-color: #040D12;
        color: #93B1A6;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    h2 {
        color: #5C8374;
        font-size: 2.5em; /* Increased font size for h2 */
    }

    dl {
        background-color: #040D12;
        color: #93B1A6;
        border: 1px solid #183D3D;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
    }

    dt {
        color: #5C8374;
        font-weight: bold;
        font-size: 1.5em; /* Increased font size for dt */
    }

    dd {
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 1.2em; /* Increased font size for dd */
    }

    a {
        color: #5C8374;
        margin-right: 10px;
        font-size: 1.5em; /* Increased font size for links */
    }

        a:hover {
            color: #93B1A6;
        }
</style>

<h2>EmployeeDisplay</h2>

<div>
    <h4>EmployeeDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employeename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employeename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EmployeeEdit", new { id = Model.Employeename }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Back to List", "EmployeeIndex", new { @class = "btn btn-default" })
</p>
