@model MyProject.Models.EmployeeLeaveRequest

@{ ViewBag.Title = "Apply Leave"; }

<h2>Apply Leave</h2>

@using (Html.BeginForm())
{
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.LeaveType)
                    @Html.DropDownListFor(model => model.LeaveType, GetLeaveTypes(), "Select Leave Type", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LeaveType, "", new { @class = "text-danger" })
                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.FromDate)
                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control", type = "date" })
                                    @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ToDate)
                                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control", type = "date" })
                                                    @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                                </div>

                                                                <div class="form-group">
                                                                    @Html.LabelFor(model => model.DaysOfLeave)
                                                                    @Html.TextBoxFor(model => model.DaysOfLeave, new { @class = "form-control" })
                                                                    @Html.ValidationMessageFor(model => model.DaysOfLeave, "", new { @class = "text-danger" })
                                                                </div>

                                                                                <div class="form-group">
                                                                                    @Html.LabelFor(model => model.Session)
                                                                                    @Html.DropDownListFor(model => model.Session, GetSessions(), "Select Session", new { @class = "form-control" })
                                                                                    @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })
                                                                                </div>

                                                                                                <div class="form-group">
                                                                                                    @Html.LabelFor(model => model.ApproverName)
                                                                                                    @Html.TextBoxFor(model => model.ApproverName, new { @class = "form-control" })
                                                                                                    @Html.ValidationMessageFor(model => model.ApproverName, "", new { @class = "text-danger" })
                                                                                                </div>

                                                                                                                <div class="form-group">
                                                                                                                    @Html.LabelFor(model => model.ContactAddress)
                                                                                                                    @Html.TextBoxFor(model => model.ContactAddress, new { @class = "form-control" })
                                                                                                                    @Html.ValidationMessageFor(model => model.ContactAddress, "", new { @class = "text-danger" })
                                                                                                                </div>

                                                                                                                                <div class="form-group">
                                                                                                                                    @Html.LabelFor(model => model.ContactNumber)
                                                                                                                                    @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control" })
                                                                                                                                    @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                                                                                                                                </div>

                                                                                                                                                <div class="form-group">
                                                                                                                                                    @Html.LabelFor(model => model.CCTo)
                                                                                                                                                    @Html.TextBoxFor(model => model.CCTo, new { @class = "form-control" })
                                                                                                                                                    @Html.ValidationMessageFor(model => model.CCTo, "", new { @class = "text-danger" })
                                                                                                                                                </div>

                                                                                                                                                                <div class="form-group">
                                                                                                                                                                    @Html.LabelFor(model => model.Reason)
                                                                                                                                                                    @Html.TextAreaFor(model => model.Reason, new { @class = "form-control" })
                                                                                                                                                                    @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
                                                                                                                                                                </div>

                                                                                                                                                                                <div class="form-group">
                                                                                                                                                                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                                                                                                                                                                </div>}

@functions { private SelectList GetLeaveTypes()
    {
        var leaveTypes = new List<string>
    {
            "Adoption Leave",
            "Bereavement Leave",
            "Casual / Sick Leave",
            "LOP",
            "Maternity Leave",
            "Miscarriage Leave",
            "Privilege Leave"
        };

        return new SelectList(leaveTypes);
    }

    private SelectList GetSessions()
    {
        var sessions = new List<string>
    {
            "Full Day",
            "Half Day / First Half",
            "Half Day / Second Half"
        };

        return new SelectList(sessions);
    } }